/* CSS Back-office partie jeux */
html, body{
    background-color: rgb(204, 204, 204);
}

main > .container {
    padding: 60px 15px 0;
}

#input_file{
    display: none;
}

#input_text{
    display: block;
}